<!-- A main page, entering room form -->
{% extends 'layouts/base.html' %}

{% block main %}

{% load static %}

<div id="form_container">
    <p id="greeting" class="greeting">|</p>
    <p id="greeting2" class="greeting"></p>

    <div id="username_form" class="input_text" hidden autofocus>
        <p class="label">Enter your nickname:</p>
        <label>></label>
        <input id="username-input" type="text">
    </div>

    <div id="room_form" class="input_text" hidden>
        <p class="label">Enter a room id:</p>
        <label>></label>
        <input id="enter-room" type="text">
    </div>
    <p id="validation_message_input_text"></p>
</div>

<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/index_animation.js' %}"></script>
<script src="{% static 'js/index_backend.js' %}"></script>
{% endblock %}
